* {
  margin: 0px;
  padding: 0px;
}
body{
  height: 1000px;
} 
.hh{
  text-align: center;
  color: rgb(3, 82, 88);
  font-size: 40px;
  font-style: italic;
  
}
.list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 100px;
  margin-left: 30px;
  margin-top: 40px;
}
.h{
  background-color: rgb(222, 192, 224);
}